*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size:24px;
}

#calc{
    border:4px solid green;
    color:black;
    width:500px;
    margin:0px auto;
    height:800px;
    background-color: #1e1c1f;
}

#display{
    border:1px solid black;
    background-color:pink;
    height:20%;
    margin:16px 16px;
    margin-bottom:24px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 64px;
    font-family: "DM Sans", sans-serif;
}


