/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: var(--system-ui);
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }

body{
    background-color: blanchedalmond;
}

button{
    border: 1px solid white;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

h2{
    text-decoration: underline;
}

#wrapper{
    display: flex;
}

#info{
    align-self: flex-start;
    margin: 8px 8px;
    padding: 8px;
    border: 4px solid black;
    background-color: lightgreen;
}

#calc{
    flex-grow: 0;
    border:4px solid black;
    color:black;
    width:500px;
    margin:0px auto;
    margin-right: 500px;
    height:800px;
    background-color: #1e1c1f;
    align-items: center;
    justify-content: center;
}

#display{
    border:1px solid black;
    background-color:pink;
    height:20%;
    margin:16px 16px;
    margin-bottom:24px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 64px;
    font-family: "DM Sans", sans-serif;
}


